[submodule "apps/inventory-ops"]
	path = apps/inventory-ops
	url = https://github.com/michael-a-bean/saleor-app-inventory-ops.git
[submodule "apps/buylist"]
	path = apps/buylist
	url = https://github.com/michael-a-bean/saleor-app-buylist.git
[submodule "apps/pos"]
	path = apps/pos
	url = https://github.com/michael-a-bean/saleor-app-pos.git
