save-exact=true
manage-package-manager-versions=true

// Here in npmrc, because this flag looks like not working in pnpm-workspace
// 86400 (minutes) is 60 days
// Set, because old packages in npm do not have trust policy
// Once time passes and packages are newer, we should remove this flag
trust-policy-ignore-after=86400