# Local development variables. When developped locally with Saleor inside docker, these can be set to:
#
# APP_IFRAME_BASE_URL = http://localhost:3000, so Dashboard on host can access iframe
# APP_API_BASE_URL=http://host.docker.internal:3000 - so Saleor can reach App running on host, from the container.
#
# If developped with tunnels, set this empty, it will fallback to address the app is reached from (default port 3000).
APP_IFRAME_BASE_URL=
APP_API_BASE_URL=


# Dynamodb apl

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
DYNAMODB_MAIN_TABLE_NAME=

# optional
# DYNAMODB_MAIN_TABLE_TIMEOUT_MS=
# DYNAMODB_MAIN_TABLE_CONNECTION_TIMEOUT_MS=
