body {
  font-family: Inter, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #111;
  padding: 1rem 2rem;
}

code {
  background: #f6f8fa;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

code::before {
  content: "$ ";
  opacity: 0.6;
}
