APP_DEBUG=info

# Variable controlling Saleor domains that app can be installed on.
# It's a regex pattern.
ALLOWED_DOMAIN_PATTERN=/*/

# Local development variables. When developed locally with Saleor inside docker, these can be set to:
# APP_IFRAME_BASE_URL = http://localhost:3000, so Dashboard on host can access iframe
# APP_API_BASE_URL=http://host.docker.internal:3000 - so Saleor can reach App running on host, from the container.
# If developed with tunnels, set this empty, it will fallback to default Next's localhost:3000
# https://docs.saleor.io/developer/extending/apps/local-app-development
# APP_IFRAME_BASE_URL=
# APP_API_BASE_URL=


# OTEL related variables
# OTEL_ENABLED=true
# OTEL_SERVICE_NAME=saleor-app-products-feed
# OTEL_LOG_LEVEL=info, # one of error, warn, info, debug, verbose, all or none
# OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318 # OTEL collector endpoint (http protocol)
# OTEL_ACCESS_TOKEN=token # token used to authenticate with OTEL collector
# NEXT_RUNTIME=nodejs

# Secret that "generate-chunk" is verifying, so it's protected from the outside worlds
REQUEST_SECRET=aabbcc

MAX_PARALLEL_CALLS=5
VARIANTS_PER_PAGE=50