{
  "root": true,
  "extends": ["saleor"],
  "plugins": ["neverthrow", "simple-import-sort"],
  "rules": {
    "import/order": "off",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "turbo/no-undeclared-env-vars": [
      "error",
      {
        "allowList": ["GITHUB_SHA", "VERCEL_GIT_COMMIT_SHA", "VERCEL_URL", "VERCEL"]
      }
    ]
  }
}
