{
  "root": true,
  "extends": ["saleor"],
  "plugins": ["neverthrow"],
  "rules": {
    "turbo/no-undeclared-env-vars": [
      "error",
      {
        "allowList": ["GITHUB_SHA", "VERCEL_GIT_COMMIT_SHA", "VERCEL_URL", "VERCEL"]
      }
    ]
  }
}
