# APL used to store auth data obtained during installation.
# "file" writes to .auth-data.json and is meant for local development only.
# "upstash" requires UPSTASH_URL and UPSTASH_TOKEN.
APL=file
# FILE_APL_PATH=
# UPSTASH_URL=
# UPSTASH_TOKEN=

# Local development variables. When developed locally with Saleor inside docker, these can be set to:
#
# APP_IFRAME_BASE_URL = http://localhost:3000, so Dashboard on host can access iframe
# APP_API_BASE_URL=http://host.docker.internal:3000 - so Saleor can reach App running on host, from the container.
#
# If developed with tunnels, set this empty, it will fallback to the address the app is reached from.
# APP_IFRAME_BASE_URL=
# APP_API_BASE_URL=
