# The key used for metadata encryption. Required for production builds
SECRET_KEY=

# APL Config. Production keys are required
APL=
REST_APL_ENDPOINT=
REST_APL_TOKEN=

MAILCHIMP_CLIENT_ID=
MAILCHIMP_CLIENT_SECRET=

APP_LOG_LEVEL=info

# Local development variables. When developped locally with Saleor inside docker, these can be set to:
# APP_IFRAME_BASE_URL = http://localhost:3000, so Dashboard on host can access iframe
# APP_API_BASE_URL=http://host.docker.internal:3000 - so Saleor can reach App running on host, from the container.
# If developped with tunnels, set this empty, it will fallback to default Next's localhost:3000
# https://docs.saleor.io/docs/3.x/developer/extending/apps/local-app-development
# APP_IFRAME_BASE_URL=
# APP_API_BASE_URL=