html,
body {
  color: var(--mu-colors-foreground-text-neutral-plain);
  padding: 0;
  margin: 0;
  background: var(--mu-colors-background-plain);
  min-height: 100%;
}

code {
  display: inline-block;
  letter-spacing: 0.1em;
  color: var(--mu-colors-foreground-text-neutral-subdued);
}

a {
  text-decoration: none;
}
