.list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.item {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  cursor: pointer;
}
.item.disabled {
  cursor: default;
  color: var(--mu-colors-foreground-text2-decorative);
  background: var(--mu-colors-background-subdued);
}

.activeItem {
  font-weight: 600;
  color: var(--mu-colors-foreground-text-brand-default);
}

.logo {
  width: 30px;
  height: 30px;
}

.name {
}

.comingSoonDivider {
  color: var(--mu-colors-foreground-text2-decorative);
  background: var(--mu-colors-background-subdued);
  cursor: default;
  justify-content: center;
  text-transform: uppercase;
  height: 50px;
  font-size: 10px;
  padding-top: 30px;
}
