.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  cursor: pointer;
  border-radius: var(--mu-border-radius-4);
  margin-bottom: var(--mu-space-6);
}

.item.disabled {
  cursor: default;
}

.activeItem {
  font-weight: 600;
  color: var(--mu-colors-foreground-text-brand-default);
  border: 1px solid var(--mu-colors-border-neutral-default);
}

.logo {
  width: 30px;
  height: 30px;
}

.list[data-macaw-theme="defaultDark"] :global(.darkmode-logo-invert) {
  filter: invert(100%);
}
