name: "Check spelling"
on:
  pull_request:
    types: [synchronize, opened]

jobs:
  spellcheck:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: false
      - uses: streetsidesoftware/cspell-action@8485bb4b688c68384c2f6db7ad931f5e3e63f21c # v6.10.1
        with:
          config: cspell.config.js
          files: "**/*.{jsx,tsx,js,ts,md,mdx}"
          strict: false
