name: Run e2e tests
on:
  workflow_call:
    secrets:
      saleor-token:
        required: true
      op-service-account-token:
        required: true
      avatax-app-slack-webhook-url:
        required: true
      stripe-app-slack-webhook-url:
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: read
  id-token: write
  actions: read

jobs:
  setup-saleor-env:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        saleor: [320, 321, 322, latest]
    env:
      ACCESS_TOKEN: ${{ secrets.saleor-token }}
      SALEOR_VERSION: ${{ matrix.saleor }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Saleor CLI
        run: |
          jq --null-input \
             --arg token "Token $ACCESS_TOKEN" \
             '{"token":$token,"telemetry":"false","saleor_env":"staging","cloud_api_url":"https://cloud.staging.saleor.io/platform/api","organization_slug":"saleor","organization_name":"Saleor"}' > ~/.config/saleor.json
      - name: Setup PNPM
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          run_install: false
      - name: Get Saleor snapshot
        run: |
          BACKUP=$(pnpm dlx saleor backup list --name="snapshot-ext-$SALEOR_VERSION-e2e" --latest --json)
          BACKUP_ID=$(echo "$BACKUP" | jq -r '.[0].key')
          echo "BACKUP_ID=$BACKUP_ID" >> "$GITHUB_ENV"
      - name: Restore Saleor snapshot
        run: |
          pnpm dlx saleor backup restore --from="$BACKUP_ID" --environment="ext-$SALEOR_VERSION-e2e" --skip-webhooks-update

  e2e-avatax:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        saleor: [320, 321, 322, latest]
    needs: setup-saleor-env
    env:
      SALEOR_VERSION: ${{ matrix.saleor }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Load secrets for Avatax e2e tests
        uses: 1password/load-secrets-action@581a835fb51b8e7ec56b71cf2ffddd7e68bb25e0 # v2.0.0
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.op-service-account-token }}
          TEST_SALEOR_API_URL: "op://Continuous Integration/saleor-app-avatax-e2e-${{ env.SALEOR_VERSION }}/TEST_SALEOR_API_URL"
          E2E_USER_NAME: "op://Continuous Integration/saleor-app-avatax-e2e-${{ env.SALEOR_VERSION }}/E2E_USER_NAME"
          E2E_USER_PASSWORD: "op://Continuous Integration/saleor-app-avatax-e2e-${{ env.SALEOR_VERSION }}/E2E_USER_PASSWORD"
      - name: Run AvaTax e2e tests
        env:
          E2E_SALEOR_VERSION: ${{ matrix.saleor }}
        run: pnpm --filter=saleor-app-avatax e2e
      - name: Notify Slack on failure
        if: failure()
        uses: slackapi/slack-github-action@b0fa283ad8fea605de13dc3f449259339835fc52 # v2.1.0
        with:
          webhook: ${{ secrets.avatax-app-slack-webhook-url }}
          webhook-type: incoming-webhook
          payload: |
            text: "*AvaTax app e2e failure*: ${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "AvaTax app e2e failed for ${{env.SALEOR_VERSION}}: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View details>"

  e2e-stripe:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        saleor: [321, 322, latest]
    needs: setup-saleor-env
    env:
      SALEOR_VERSION: ${{ matrix.saleor }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Install playwright dependencies
        run: pnpm --filter=saleor-app-payment-stripe exec playwright install --with-deps chromium
      - name: Load secrets for Stripe e2e tests
        uses: 1password/load-secrets-action@581a835fb51b8e7ec56b71cf2ffddd7e68bb25e0 # v2.0.0
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.op-service-account-token }}
          E2E_BASE_URL: "op://Continuous Integration/saleor-app-payments-stripe-e2e-${{ env.SALEOR_VERSION }}/E2E_BASE_URL"
          E2E_SALEOR_API_URL: "op://Continuous Integration/saleor-app-payments-stripe-e2e-${{ env.SALEOR_VERSION }}/E2E_SALEOR_API_URL"
          E2E_CHARGE_CHANNEL_SLUG: "op://Continuous Integration/saleor-app-payments-stripe-e2e-${{ env.SALEOR_VERSION }}/E2E_CHARGE_CHANNEL_SLUG"
          E2E_AUTHORIZATION_CHANNEL_SLUG: "op://Continuous Integration/saleor-app-payments-stripe-e2e-${{ env.SALEOR_VERSION }}/E2E_AUTHORIZATION_CHANNEL_SLUG"
      - name: Run Stripe e2e tests
        run: pnpm --filter=saleor-app-payment-stripe test:e2e
      - name: Upload HTML report to GitHub Actions Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: "playwright-report-${{ env.SALEOR_VERSION }}"
          path: apps/stripe/playwright-report
          retention-days: 1
      - name: Notify Slack on failure
        if: failure()
        uses: slackapi/slack-github-action@b0fa283ad8fea605de13dc3f449259339835fc52 # v2.1.0
        with:
          webhook: ${{ secrets.stripe-app-slack-webhook-url }}
          webhook-type: incoming-webhook
          payload: |
            text: "*Stripe app e2e failure*: ${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "Stripe app e2e failed for ${{env.SALEOR_VERSION}}: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View details>"
