name: QA
on:
  pull_request:
    types:
      - synchronize
      - opened

jobs:
  lint:
    runs-on: ubuntu-22.04
    env:
      HUSKY: 0
      APL: file
      MAILCHIMP_CLIENT_ID: "mocked"
      MAILCHIMP_CLIENT_SECRET: "mocked"
    steps:
      - uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Check linter
        run: pnpm lint
      - name: Check types
        run: pnpm check-types
      - name: Check package dependencies
        run: pnpm lint:packages
      - name: Check for changes in graphql files
        run: |
          pnpm generate
          git diff --name-status --exit-code .

  test:
    runs-on: ubuntu-22.04
    env:
      HUSKY: 0
    steps:
      - uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run tests
        run: pnpm test:ci
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@0da7aa657d958d32c117fc47e1f977e7524753c7 # v5.3.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: saleor/apps
