name: QA
on:
  pull_request:
    types:
      - synchronize
      - opened
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-22.04
    env:
      HUSKY: 0
      APL: file
      MAILCHIMP_CLIENT_ID: "mocked"
      MAILCHIMP_CLIENT_SECRET: "mocked"
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
      TURBO_CACHE: "remote:rw"
    steps:
      - uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Check linter
        run: pnpm lint
      - name: Check types
        run: pnpm check-types
      - name: Check package dependencies
        run: pnpm lint:packages
      - name: Check for changes in graphql files
        run: |
          pnpm generate
          git diff --name-status --exit-code .

  test:
    runs-on: ubuntu-22.04
    env:
      HUSKY: 0
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
      TURBO_CACHE: "remote:rw"
    steps:
      - uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Run tests
        run: pnpm test:ci
      - name: Upload coverage for avatax
        uses: codecov/codecov-action@0da7aa657d958d32c117fc47e1f977e7524753c7 # v5.3.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: saleor/apps
          flags: avatax
          files: apps/avatax/coverage/coverage-final.json, apps/avatax/coverage/clover.xml
      - name: Upload coverage for cms
        uses: codecov/codecov-action@0da7aa657d958d32c117fc47e1f977e7524753c7 # v5.3.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: saleor/apps
          flags: cms
          files: apps/cms/coverage/coverage-final.json, apps/cms/coverage/clover.xml
      - name: Upload coverage for products-feed
        uses: codecov/codecov-action@0da7aa657d958d32c117fc47e1f977e7524753c7 # v5.3.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: saleor/apps
          flags: products-feed
          files: apps/products-feed/coverage/coverage-final.json, apps/products-feed/coverage/clover.xml
      - name: Upload coverage for search
        uses: codecov/codecov-action@0da7aa657d958d32c117fc47e1f977e7524753c7 # v5.3.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: saleor/apps
          flags: search
          files: apps/search/coverage/coverage-final.json, apps/search/coverage/clover.xml
      - name: Upload coverage for segment
        uses: codecov/codecov-action@0da7aa657d958d32c117fc47e1f977e7524753c7 # v5.3.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: saleor/apps
          flags: segment
          files: apps/segment/coverage/coverage-final.json, apps/segment/coverage/clover.xml
      - name: Upload coverage for smtp
        uses: codecov/codecov-action@0da7aa657d958d32c117fc47e1f977e7524753c7 # v5.3.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: saleor/apps
          flags: smtp
          files: apps/smtp/coverage/coverage-final.json, apps/smtp/coverage/clover.xml
      - name: Upload coverage for stripe
        uses: codecov/codecov-action@0da7aa657d958d32c117fc47e1f977e7524753c7 # v5.3.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: saleor/apps
          flags: stripe
          files: apps/stripe/coverage/coverage-final.json, apps/stripe/coverage/clover.xml
      - name: Upload coverage for logger
        uses: codecov/codecov-action@0da7aa657d958d32c117fc47e1f977e7524753c7 # v5.3.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: saleor/apps
          flags: logger
          files: packages/logger/coverage/coverage-final.json, packages/logger/coverage/clover.xml
      - name: Upload coverage for shared
        uses: codecov/codecov-action@0da7aa657d958d32c117fc47e1f977e7524753c7 # v5.3.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: saleor/apps
          flags: shared
          files: packages/shared/coverage/coverage-final.json, packages/shared/coverage/clover.xml
      - name: Upload coverage for webhook-utils
        uses: codecov/codecov-action@0da7aa657d958d32c117fc47e1f977e7524753c7 # v5.3.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: saleor/apps
          flags: webhook-utils
          files: packages/webhook-utils/coverage/coverage-final.json, packages/webhook-utils/coverage/clover.xml
