name: Stripe app - integration tests

on:
  workflow_dispatch:

  push:
    branches:
      - main
  pull_request:
    types:
      - synchronize
      - opened
    paths:
      - apps/stripe/**
      - packages/**
      - package.json

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Load secrets for Stripe integration tests
        uses: 1password/load-secrets-action@581a835fb51b8e7ec56b71cf2ffddd7e68bb25e0 # v2.0.0
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          AWS_REGION: "op://Continuous Integration/saleor-app-payments-stripe-integration/AWS_REGION"
          AWS_ACCESS_KEY_ID: "op://Continuous Integration/saleor-app-payments-stripe-integration/AWS_ACCESS_KEY_ID"
          AWS_SECRET_ACCESS_KEY: "op://Continuous Integration/saleor-app-payments-stripe-integration/AWS_SECRET_ACCESS_KEY"
          AWS_ENDPOINT_URL: "op://Continuous Integration/saleor-app-payments-stripe-integration/AWS_ENDPOINT_URL"
          DYNAMODB_MAIN_TABLE_NAME: "op://Continuous Integration/saleor-app-payments-stripe-integration/DYNAMODB_MAIN_TABLE_NAME"
          INTEGRATION_TEST_STRIPE_PK: "op://Continuous Integration/saleor-app-payments-stripe-integration/INTEGRATION_TEST_STRIPE_PK"
          INTEGRATION_TEST_STRIPE_RK: "op://Continuous Integration/saleor-app-payments-stripe-integration/INTEGRATION_TEST_STRIPE_RK"
          INTEGRATION_TEST_SALEOR_API_URL: "op://Continuous Integration/saleor-app-payments-stripe-integration/INTEGRATION_TEST_SALEOR_API_URL"
          SECRET_KEY: "op://Continuous Integration/saleor-app-payments-stripe-integration/SECRET_KEY"
      - name: Run docker compose
        uses: hoverkraft-tech/compose-action@8be2d741e891ac9b8ac20825e6f3904149599925 # v2.2.0
        with:
          compose-file: "apps/stripe/src/__tests__/integration/docker-compose.yml"
      - name: Run integration tests
        run: pnpm run --filter=saleor-app-payment-stripe test:integration
