name: Stripe app - integration tests with DynamoDB
permissions:
  contents: read

# Env for testing entities
env:
  AWS_REGION: "localhost"
  AWS_ACCESS_KEY_ID: "test"
  AWS_SECRET_ACCESS_KEY: "test"
  AWS_ENDPOINT_URL: "http://localhost:8000"

on:
  workflow_dispatch:

  push:
    branches:
      - main
  pull_request:
    types:
      - synchronize
      - opened
    paths:
      - apps/stripe/**
      - packages/**
      - package.json

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.2.2
      - name: Setup PNPM
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install

      - name: Load secrets for Avatax e2e tests
        uses: 1password/load-secrets-action@581a835fb51b8e7ec56b71cf2ffddd7e68bb25e0 # v2.0.0
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          AWS_REGION: "op://Continuous Integration/saleor-app-payments-stripe-integration/AWS_REGION"
          AWS_ACCESS_KEY_ID: "op://Continuous Integration/saleor-app-payments-stripe-integration/AWS_ACCESS_KEY_ID"
          AWS_SECRET_ACCESS_KEY: "op://Continuous Integration/saleor-app-payments-stripe-integration/AWS_SECRET_ACCESS_KEY"
          AWS_ENDPOINT_URL: "op://Continuous Integration/saleor-app-payments-stripe-integration/AWS_ENDPOINT_URL"
      - name: Run docker compose
        uses: hoverkraft-tech/compose-action@v2.0.1
        with:
          compose-file: "apps/stripe/src/__tests__/integration/dynamodb/docker-compose.yml"

      - name: Execute tests
        run: |
          pnpm run --filter=saleor-app-payment-stripe test:integration:dynamodb
